extends blocks/layout

block content
    div(class="col-md-4 mx-auto")
        div(class="card")
            div(class="card-header text-center")
                h3 Edit note
            div(class="card-body")
                form(action="/notes/edit/" + note._id method="post")
                    div(class="form-group")
                        input(type="text" name="title" class="form-control" value=note.title placeholder="Title" autofocus)
                    div(class="form-group")
                        textarea(name="description" class="form-control" placeholder="Description") #{note.description}
                    div(class="form-group")
                        button(type="submit" class="btn btn-primary btn-block") Save