extends blocks/layout

block content
    div(class="row")
        div(class="col-md-4 mx-auto")
            div(class="card")
                div(class="card-header text-center")
                    h3 Register
                div(class="card-body")
                    form(action="/users/signup" method="post")
                        div(class="form-group")
                            input(type="text" class="form-control" name="name" value=name placeholder="Name" autofocus)
                        div(class="form-group")
                            input(type="email" class="form-control" name="email" value=email placeholder="Email")
                        div(class="form-group")
                            input(type="password" class="form-control" name="password" value=password placeholder="Password")
                        div(class="form-group")
                            input(type="password" class="form-control" name="password2" value=password2 placeholder="Confirm password")
                        div(class="form-group")
                            button(type="submit" class="btn btn-primary btn-block") Sign up